In [8]:
import pandas as pd
import pydantic
from sql_app import schemas
import json

In [2]:
df = pd.read_excel('../产品编号.xlsx', index_col=0)

In [3]:
df

                       产品名称     产品编号  老编码     产品类别
ID
1                       MGF     A001  NaN  Peptide
2                   PEG-MGF     A002  NaN  Peptide
3          CJC-1295 (DAC)       A003  NaN  Peptide
4   CJC-1295 (with out DAC)     A004  NaN  Peptide
5                    PT-141     A005  NaN  Peptide
..                      ...      ...  ...      ...
64         Thymosin Alpha 1      NaN  NaN  Peptide
65                    Semax     A026  NaN  Peptide
66                  ARA-290  A034-16  NaN  Peptide
67            Kisspeptin-10     A031  NaN  Peptide
68                  ACE-031     G004  NaN  Peptide

[64 rows x 4 columns]

In [4]:
df.rename(columns={'老编码(Steroids)':"老编码"})

                       产品名称     产品编号  老编码     产品类别
ID
1                       MGF     A001  NaN  Peptide
2                   PEG-MGF     A002  NaN  Peptide
3          CJC-1295 (DAC)       A003  NaN  Peptide
4   CJC-1295 (with out DAC)     A004  NaN  Peptide
5                    PT-141     A005  NaN  Peptide
..                      ...      ...  ...      ...
64         Thymosin Alpha 1      NaN  NaN  Peptide
65                    Semax     A026  NaN  Peptide
66                  ARA-290  A034-16  NaN  Peptide
67            Kisspeptin-10     A031  NaN  Peptide
68                  ACE-031     G004  NaN  Peptide

[64 rows x 4 columns]

In [5]:
df.loc[1]

产品名称        MGF
产品编号       A001
老编码         NaN
产品类别    Peptide
Name: 1, dtype: object

In [7]:
a=df.loc[1].to_json(force_ascii=False)

In [10]:
b = json.loads(a)
b['产品编号']

In [17]:
print(b.keys())
type(b)

dict_keys(['产品名称', '产品编号', '老编码', '产品类别'])

dict

In [14]:
df.loc[1].产品编号

'A001'